* {
    
    background-color: #FCEEE3;
    color: #0000;

}

h1 {

    font-family: gravesend-sans, sans-serif;
    font-weight: 700;
    font-style: normal;

}

h2 {

    font-family: gravesend-sans, sans-serif;
    font-weight: 300;
    font-style: normal;

}

p {

    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

